# Logs
logs
tests_output
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
nohup.out

# Dependency directories
node_modules/
bower_components/

# Artifacts
dist/
dist.*/
build/

# Secrets
.envrc
secrets

# IDE-specific dirs.
.idea
.vscode

# Deploy-script directories
deploy-test/
deploy-test.zip
clone-db.sh

# Trash
.DS_Store
.yarnclean
.ignore
.jshintrc

# Ingored scripts
clone-db.sh
cloneDB.sh
deploy-test/
deploy-test.zip

# Sass mapping
.css.map

# Incase a temp db directory is left accidentally via manual cloning
tmp_db/
