.donate-button-box {
    margin-top: 30px;
}

.donation-amounts {
    color: $alice-blue;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 300;
}

.donation-amounts div {
    padding-right: 0;
    margin-bottom: 3px;
}

.amount-selector.circle-icon {
    cursor: pointer;
    width: 60px;
}

.amount-selector.circle-icon:hover {
    opacity: 0.8;
}

.amount-selector.amount-input {
    border: none;
    border-bottom: solid 1px #ccc;
    border-radius: 0;
    font-size: 3rem;
    width: 100px;
    height: 50px;
}

.amount-selector {
    text-align: center;
    margin: auto;
}

.checkout-subtitle {
    font-size: 2rem;
}

.amount-selector.gbp-symbol {
    font-size: 2rem;
    top: 12px;
    left: 35px;
    color: #ccc;
    position: absolute;
}

.amount-selector.add-amount-button {
    margin-left: -100px;
}

.amount-selector.subtract-amount-button {
    margin-right: -100px;
}

.amount-selector-container {
    padding-bottom: 20px;
    border-bottom: solid 1px #ccc;
}

img.cvc {
    position: absolute;
    top: 27px;
    right: 20px;
}

img.social-icon-after-donation {
    width: 20px;
}

@media (min-width: 1000px) {
    .error-max {
        position: absolute;
        left: -300px;
        top: 20px;
    }
}


@media (max-width: 500px) {
    .donate-button-box {
        position: relative;
        margin-top: 10px;
        margin-bottom: -10px;
        width: 100%;
        text-align: center;
    }

    .gift-aid-text {
        margin-bottom: 10px;
    }

    .amount-selector.subtract-amount-button {
        width: 40px !important;
        margin-right: -20px !important;
    }

    .amount-selector.add-amount-button {
        width: 40px !important;
        margin-left: -20px !important;
    }
}
