.alice-footer {
  margin-bottom: 60px;

  .uppercase {
    font-weight: 600;
  }

  p {
    line-height: 33px;
    color: #6b7c93;
    font-size: 22px;
  }

  &-link {
    color: #9b9b9b;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.9px;

    &:hover {
      color: $alice-tonal-medium;
    }
  }
}

.footer-social-icons {
  margin-bottom: 40px;
}

@media screen and (max-width: 760px) {
  /******* FOOTER ********/

  .footer-social-icons {
    height: 80px;
    background: #FAFAFA;
    width: 100%;
    position: relative;
  }

  .footer-icons {
    height: 100%;
  }

  .ft-icon {
    height: 100%;
  }

  .medium-icon {
    background-image: url('https://s3.eu-west-2.amazonaws.com/alice-res/medium.png');
    background-size: contain;
    height: 25px;
    width: 25px;
    margin: auto;
    margin-top: 25px;

    transition: 0.5s all ease-out;
    -webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
  }

  .medium-icon:hover {
    background-image: url('https://s3.eu-west-2.amazonaws.com/alice-res/medium-coloured.png');

  }

  .linkedin-icon {
    background-image: url('https://s3.eu-west-2.amazonaws.com/alice-res/linked-in.png');
    background-size: contain;
    height: 25px;
    width: 25px;
    margin: auto;
    margin-top: 25px;

    transition: 0.5s all ease-out;
    -webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
  }

  .linkedin-icon:hover {
    background-image: url('https://s3.eu-west-2.amazonaws.com/alice-res/logo-linkedin.png');
  }

  .twitter-icon {
    background-image: url('https://s3.eu-west-2.amazonaws.com/alice-res/twitter-logo-silhouette.png');
    background-size: contain;
    height: 25px;
    width: 25px;
    margin: auto;
    margin-top: 25px;

    transition: 0.5s all ease-out;
    -webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
  }

  .twitter-icon:hover {
    background-image: url('https://s3.eu-west-2.amazonaws.com/alice-res/twitter.png');
  }
}

@media screen and (min-width: 760px) {

  /******* FOOTER ********/

  .footer-social-icons {
    height: 80px;
    background: #FAFAFA;
    width: 100%;
  }

  .footer-icons {
    height: 100%;
  }

  .ft-icon {
    height: 100%;
  }

  .medium-icon {
    background-image: url('https://s3.eu-west-2.amazonaws.com/alice-res/medium.png');
    background-size: contain;
    margin-top: 25px;
    height: 30px;
    width: 30px;

    transition: 0.5s all ease-out;
    -webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
  }

  .medium-icon:hover {
    background-image: url('https://s3.eu-west-2.amazonaws.com/alice-res/medium-coloured.png');

  }

  .linkedin-icon {
    background-image: url('https://s3.eu-west-2.amazonaws.com/alice-res/linked-in.png');
    background-size: contain;
    margin-top: 25px;
    height: 30px;
    width: 30px;

    transition: 0.5s all ease-out;
    -webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
  }

  .linkedin-icon:hover {
    background-image: url('https://s3.eu-west-2.amazonaws.com/alice-res/logo-linkedin.png');
  }

  .twitter-icon {
    background-image: url('https://s3.eu-west-2.amazonaws.com/alice-res/twitter-logo-silhouette.png');
    background-size: contain;
    margin-top: 25px;
    height: 30px;
    width: 30px;

    transition: 0.5s all ease-out;
    -webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
  }

  .twitter-icon:hover {
    background-image: url('https://s3.eu-west-2.amazonaws.com/alice-res/twitter.png');
  }
}

@media screen and (max-width: 420px) {
  .alice-footer {
    .container {
      margin: 0 40px;
    }
  }

  .hiw-container {
    .alice-footer > .container {
      margin: 0 !important;
    }
  }
}
