input, textarea {
  border-width: 1px;
  box-shadow: none;
  -webkit-box-shadow: none;
  display: block;
  width: 100%;
  padding-left: 10px;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: $source;

  caret-color: $alice-tonal-medium;

  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  &:focus {
    border-color: $alice-tonal-medium;
    outline: none;
  }
}

input {
  height: 44px;
}

select:focus,
textarea:focus,
button:focus {
    outline: none;
}


.form-group {
  label {
    font-weight: 300;
    color: #6b7c93;
    font-family: $source;
    font-size: 18px;
  }

  &:focus-within label {
    color: $alice-tonal-medium;
  }
}


button {
  min-width: 100%;
  min-height: 50px;
  background-color: $alice-tonal-medium;
  color: #FFFFFF;
  border-radius: 4px;
  letter-spacing: 2px;
  font-size: 22px;
  font-family: $source;
  font-weight: 400;
  font-stretch: normal;
  border: solid 0px;
  margin: 10px -5px;
  @include transition(0.2s, all, ease-out);

  &:hover {
    background-color: #19a3ae !important;
  }

  i {
    color: #fff;
    transform: translateY(1px);
    margin-left: -10px;
  }
}

.no-border {
  border: none !important;
}

.inverse-button {
  background-color: #FFFFFF !important;
  color: $alice-tonal-medium !important;
  @include transition(0.2s, all, ease-out);

  &:hover {
    color: #212529 !important;
    background-color: #f8f9fa !important;
  }
}

.disabled-button {
  background-color: #CCC;
  border: none;

  &:hover {
    background-color: #CCC !important;
    color: #fff !important;
  }
}

.splash-v3 {
  button {
    width: 140px;
    background: $alice-tonal-medium;
    border-radius: 4px;
    font-size: 21px;
    font-family: $source !important;
    font-weight: 400;
    font-stretch: normal;
    color: #fff;
    border: none;
    letter-spacing: 1px;
    @include box-shadow(0, 0, 2px, rgba(0, 0, 0, 0.23));
    outline: none;
  }
}
