.graph-option {
  border: none;
  background: $alice-tonal-medium;
  color: #fff;
  padding: 5px 0;
  width: 100%;
  border-radius: 4px;
  letter-spacing: 2px;

  &:focus {
    outline: none;
    background: $alice-tonal-dark;
  }
}
