.graph-option {
  text-align: center;
  padding: 5px 0;
  width: 100%;
  letter-spacing: 2px;

  &:hover {
    cursor: pointer;
    border-bottom: 2px solid $alice-tonal-medium;
  }

  &-focus {
    font-weight: 500 !important;
    border-bottom: 2px solid $alice-tonal-medium;;
  }
}

.chart-doughnut {
   display: inline-flex;
   position: absolute;
   transform: translate(40px, -35px);
   width: auto !important;
   height: 50px !important;
 }
