.appeal-page {
  h5 {
    font-weight: 400;
  }
}

.splash-v3 {
  button {
    min-width: 0px !important;
    width: auto !important;
  }
}

.appeal-v3 {
  &__container {
    padding: 22px 0 42px 0px;
  }

  &__story-quote {
    min-height: 50px;
  }

  &__goals-carousel {
    // padding: 0 !important;

    &-expand {
      background: #fff !important;

    }
  }

  &__info {

    h4 {
      padding: 0;
    }

    &-image {
      height: 130px;
      width: auto;
      max-width: 170px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &-top {

      h6 {
        color: rgba($alice-blue, 0.6);
        font-size: 10px;
        font-family: $source;
      }

      &-expanded {
        margin-top: -55px;
      }
    }

    button {
      margin: -55px 0 15px;
      padding: 8px 0 10px !important;
      background: none;
      border-radius: 2px;
      color: $alice-blue;
      font-family: $source !important;
      font-size: 15px;
      font-weight: 300;
      border: none;
      text-align: left;
      letter-spacing: 1px;
      outline: none;

      .glyphicon {
        font-weight: 200;
        color: $alice-blue;
        top: 3px;
      }
    }
  }

  &__goals {
    h5:first-child {
      margin-top: 30px;
    }

  }

  &__stories {

    h5 {
      margin-top: 30px;
    }

    &-img {
      display: inline-block;
      position: relative;
      width: 100%;

      .header-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        background-size: cover;
        background-blend-mode: multiply;
      }

      /* Keeping this here incase we don't want gradient */
      img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        object-position: center top;
      }
    }

    &-imgtext {
      position: absolute;
      margin-top: -180px; // same height of image
      width: 100%;
      padding: 10px 0 10px 10px;
      height: 45px;
    }

    &-container {
      height: auto;
      margin: 20px 5px 0 5px;
      padding-bottom: 10px;
      @include box-shadow(0, 0, 6px, rgba(0, 0, 0, 0.2));
      border-radius: 4px;
    }

    &-info {
      padding: 22px !important;
      height: auto;

      button {
        margin: 5px 0 15px;
        padding: 8px 0 10px !important;
        font-weight: 200;
        background: none;
        border-radius: 2px;
        color: $alice-blue;
        font-weight: 300;
        border: none;
        text-align: left;
        letter-spacing: 1px;

        .glyphicon {
          font-weight: 200;
          color: $alice-blue;
          top: 3px;
        }
      }

    }
  }

}


@media screen and (max-width: 414px) {
  .appeal-v3 {
    &__container {
      width: 85vw;
      margin: 15px auto;
      padding: 0;
      padding-bottom: 20px;
    }

    &__info {
      &-image {
        width: auto;
        height: 70px;
      }
    }

    &__stories {
      h5 {
        margin-top: 30px;
      }

      &-img {
        border-left: none;
      }

      &-underimg {
        padding: 10px 0 10px 15px;
        height: 55px;
      }

      &-container {
        height: auto;
        padding: 20px 0;
        margin: 20px 5px 0 5px;
      }

      &-info {
        padding: 20px !important;

        p {
          font-size: 14px !important;
        }
      }
    }

    .alice-footer {
      height: auto;
    }

    .footer {
      &-contact {
        margin-bottom: 20px;
      }
      &-terms {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .appeal-v3__container {
    width: 85vw;
  }
  .alice-footer {
    .footer-bottom {
      padding-left: 60px;
    }
  }
}

// Added to fix problems on iPhone X and Pixel 2 XL
@media screen and (max-width: 1300px) and (min-width: 374px) {
  .appeal-v3__container {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1300px) {
  .appeal-v3__container{
    padding: 22px 0 42px 30px;
  }

  .alice-footer {
    .footer-bottom {
      padding-left: 60px;
    }
  }
}
