/* Overlay global styling */
/* The Overlay (background) */
.overlay {
  height: 90%;
  width: 90%;
  position: fixed;
  z-index: -100;
  opacity: 0;
  left: 5%;
  top: 5%;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(69, 178, 187, 0.95); /* w/opacity */
  overflow-x: hidden;

	@include transition(0.3s, height, ease-out);
	@include transition(0.3s, opacity, ease-out);


  &-content {
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
  }


  &-active {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    opacity: 1;
    left: 0;
    top: 0;
  }

  /* Position the close button (top right corner) */
	.closebtn {
    cursor: pointer;
		position: absolute;
		padding: 8px;
		text-decoration: none;
		display: block;
		font-weight: 200;
		z-index: 100;
	}

	&-right {
		background-color: rgba(69,178,187,1);

		.appeal-section-left {
			color: #fff;
		}
	}

	&-section-heading {
		font-weight: 400;
		color: #fff;
		letter-spacing: 0px;
		margin-top: 20px;
		margin-bottom: 15px;
	}
}

/** Splash **/

.vertical-line-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin-left: 5%;
}

.vertical-line {
	background: #fff;
}

.donate-raised-container {
	padding: 10px 0 15px;
	height: auto;
	width: 150px;
	margin: 0 auto;

	.subtext {
		width: 100%;
		margin: 0 auto;
		margin-top: 0;
		font-size: 10px;
	}
}

.donate-raised {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.graph-container {
	margin-top: -7px;
}

.circle-chart-foreground {
	animation: circle-chart-fill 2s reverse;
	-webkit-animation: circle-chart-fill 2s reverse;
	-moz-animation: circle-chart-fill 2s reverse;
	-ms-animation: circle-chart-fill 2s reverse;
	transform: rotate(-90deg);
	transform-origin: center;
}

.appeal-chart-amount {
	.light {
		font-weight: 400;
		fill: #fff;
		font-size: 8px;
		text-shadow: 0px 6px #112633;
	}

	.dark {
		font-weight: 400;
		fill: #445c6a;
		font-size: 4px;
		text-shadow: 0px 6px #112633;
	}
}

.appeal-chart-text {
	font-weight: 400;
	fill: #fff;
	font-size: 2px;
	text-shadow: 0px 3px #112633;
}

/** Generic appeal section styling **/

.appeal-small {
	fill: #fff;
	font-size: 1.5px;
	letter-spacing: 1px;
	text-shadow: 0px 3px #112633;
}

.appeal-section {
	&-heading {
		font-weight: 400;
		color: $alice-blue;

		&:after {
			content: "";
			display: block;
			float: inherit;
			padding-bottom: 10px;
			border-bottom: 0.5px solid $alice-blue;
		}
	}
}

/* Goals global styling */

.goal-container {
  background: #F9FCFC;
  color: $alice-dark;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.goals-carousel {
	position: relative;
}

.carousel-control {
	opacity: 1;
	color: $alice-blue !important;
	text-shadow: none !important;
}

.goal-image {
	&-wrapper {
		margin: 32px 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-cropper {
		width: 125px;
		height: 125px;
		position: relative;
		overflow: hidden;
		float: left;
		border-radius: 50%;
		border: 5px solid $alice-blue;
		-webkit-shape-outside: circle();
		shape-outside: circle();
	}
}

.goal-project-img {
	display: inline;
	margin: 0 auto;
	margin-left: -25%;
	height: 100%;
	width: auto;
}

.goal-card {
	&-title {
		font-weight: 400;
		letter-spacing: 2px;
		color: $alice-blue;
		text-transform: uppercase;
	}

	&-value {
		font-weight: 200 !important;
		letter-spacing: 1px;
		color: $alice-dark;
	}

	&-bottom {
		bottom: 0;
		width: 100%;
		background: #F0FAFA;
		height: 100px;
		text-align: left;

		&-subtext {
			font-weight: 300;
			color: $alice-dark;
		}
	}
}

.goal-paid-title, .goal-achieved-title {
	padding: 20px 0 5px 40px;
	color: $alice-blue;
	font-size: 24px;
}

.goal-paid-title:after, .goal-achieved-title:after {
	content: "";
	display: block;
	float: inherit;
	width: 15%;
	border-bottom: 1px solid #ACCCCE;
}





/*** Story ***/

.story-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;

	a {
		color: #fff;
		margin-left: 1px;
		display: flex;
	}
}

/** What is alice **/

#appealAlice h1 {
	font-weight: 400;
}

.alice-section-subheading {
	font-weight: 200;
	color: $alice-dark;
}

.alice-graph {
	height: auto;
	width: 100%;
	margin-bottom: 50px;
}

/** Ngo Section **/

#appealNgo {
	height: auto;
}

.ngo-section-right {
	background: $alice-dark;

	.appeal-section-heading:after {
		margin-left: 15px;
	}
}

.charity-profile-section {
	.appeal-section-left {
		margin: -10px 0 0 -15px;
		font-weight: 200 !important;
	}
}

.validator-profile-section {
	.appeal-section-left {
		margin: -10px 0 0 -15px;
		font-weight: 200 !important;
	}
}

.section-heading-border.light {
	border-color: #fff;
}
