/*************************
*                        *
*     My Impact Page     *
*                        *
**************************/

.dashboard-page {
  position: absolute;
  background: #F0F5F5;
  width: 100%;
  min-height: 100vh;
}

.dashboard-nav-top {
  height: 100px;
  width: 100%;
  border-bottom: 2px solid #E3ECF0;
  z-index: 500;
  background: #f0f5f5;
  position: fixed;
}

.dashboard-image {
  height: 50px;
  padding: 10px;
  margin-top: 20px;
  width: auto;
  margin-left: 20px;
}

.dashboard-image-in {
  height: 50px;
  width: auto;
}

.dashboard-title {
  padding-top: 10px;
  color: $alice-dark-text;
}

.dashboard-nav-side {
	padding: 8px 0;
	margin-top: 100px;
	height: 550px;
  z-index: 1000;
  position: fixed;

	list-style: none;

	li > a {
		padding: 7px 0 7px 15px;
		color: $alice-azure;
		font-size: 14px;
		border-bottom: 1px solid $alice-UI-dark-grey;
		border-right: 1px solid $alice-UI-dark-grey;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;

		&:hover {
			color: $alice-dark-text;
			cursor: pointer;
		}
	}

	li > a.active {
		color: $alice-dark-text;
	}
}

.dashboard-container {
	margin-top: 100px;
}

.dashboard-main-view {
  position: relative;
  margin-top: 100px;
  padding: 20px 50px 40px 20px;
  background: #f0f5f5;
}

.dashboard-tabs {
  height: auto;
  padding-left: 0;
  padding-right: 0;
  font-family: 'AvenirNext', Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #1998a2;
	min-width: 213px;
}

.dashboard-tabs-container {
  height: auto;
  max-height: 550px;
}

#dashboard-overview {
   height: 120px;
}

#dashboard-projects {
  height: 350px;
  overflow-y: auto;
}

#dashboard-projects::-webkit-scrollbar {
	width: 6px;
	background-color: #D8F1F3;
	border: none;
	border-radius: 4px;
}

#dashboard-projects::-webkit-scrollbar-thumb {
	background-color: rgba(28, 184, 196, 0.46);
	outline: rgba(28, 184, 196, 0.46);
	border-radius: 3px;
}

#dashboard-projects .dashboard-tabs {
	margin: 0 0 0 10px;
}

.dashboard-side-tab {
	min-width: 210px;
  height: 44px;
  color: #9babab;
  font-weight: 200;
  padding-top: 6px;
  border-radius: 6px;
  display: flex;
  vertical-align: middle;
  letter-spacing: 1px;

  font-size: 14px;
  color: #184E6D;
  line-height: 32px;

  transition: 0.15s all ease-in-out;
  -webkit-transition: 0.15s all ease-in-out;
  -moz-transition: 0.15s all ease-in-out;
}

.dashboard-side-tab-active {
	margin: 0 0 2.5px;
	border-radius: 6px;
	font-weight: 300;
  height: 44px;
  padding-top: 6px;
  display: flex;
  vertical-align: middle;
  letter-spacing: 1px;

  font-size: 14px;
  color: #184E6D;
  line-height: 32px;

  background: #E3ECF0;
  transition: 0.15s all ease-in-out;
}

.fa-side-tab {
  font-size: 16px;
  right: 0;
  position: absolute;
  padding: 8px 10px 0 0;
}

.inside-tabs {
	margin-left: -10px;

	li {
	  list-style: none;
	}
}

.dashboard-chart-received {
  font-weight: 500;
  fill: #FFCA54;
  font-size: 3.5px;
}

.dashboard-side-tab-active:hover {
  cursor: pointer;
}

.dashboard-side-tab:hover {
  background: #D8F1F3;
  cursor: pointer;
}

.dashboard-chart-amount {
  font-weight: 500;
  fill: #1CB8C4;
  font-size: 3.5px;
}

.dashboard-chart-text {
  font-weight: 400;
  fill: #fff;
  font-size: 2px;
}

.dashboard-chart-small {
  fill: #BBCED9;
  font-weight: 300;
  font-size: 1.5px;
  letter-spacing: 0.3px;
}

.project-card-main {
  background: #fff;
}

.uib-tab {
	margin: 0 30px;
	min-width: 130px;
	text-align: center;
}

.card-title {
  font-size: 18px;
  color: #184E6D;
  text-align: center;
  font-weight: 200;
  letter-spacing: 1px;
  transform: translateY(-20px);
  height: 30px;
}

#donation-check {
  opacity: 0;
}


/**** Overview ****/

.project-card {
  height: 480px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 40px;
}

.project-card-title {
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
  height: 120px;
  background: $alice-dark-text;

  padding-top: 30px;
  color: #fff;
  font-weight: 400;

  font-size: 28px;
  letter-spacing: 0;
  line-height: 43.5px;
}

.project-card-donations {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.project-card-goals {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

/* Cross-Device styling */

.impact-user {
  color: #353e42;
  font-size: 32px;
  font-weight: 200;
  height: 200px;
  padding-top: 70px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.project-title-in-bar {
  font-size: 12px;
}

.impact-overall {
  color: #353e42;
  letter-spacing: 2px;
}

.impact-numbers {
  font-size: 38px;
  font-weight: 400;
  color: #8ea6b3;
}

.impact-number-border {
  border-bottom: 1px solid #8ea6b3;
}

.impact-titles {
  padding-top: 10px;
  font-weight: 300;
  color: #8ea6b3;
  font-size: 12px;
  letter-spacing: 1px;
}

.live-projects {
  height: auto;
}

.live-projects-container {
  background: #fff;
}

.live-projects-row {
  background: #fff;
}

.live-project-lead > p  {
  font-weight: 400;
  color: #445c6a !important;
  letter-spacing: 0px;
  margin-top: 5px;
  text-transform: none;
  font-family: 'Avenir' !important;
}

.project-impact-overall {
  color: #353e42;
  font-size: 10px;
  height: 100px;
  padding-top: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.project-impact-numbers {
  font-weight: 400;
  color: #4cb3bb;
  margin-bottom: 10px;
  letter-spacing: 0px;
}

.project-impact-titles {
  margin-top: 10px;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 14px;
  color: #6a767d;
  text-transform: none;
}

.live-project-buttons {
  height: 100%;
  padding-top: 40px;
}

.project-button {
  height: 50px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.3s all ease-out;
  -webkit-transition: 0.3s all ease-out;
  -moz-transition: 0.3s all ease-out;
}

.project-button > a {
  transition: 0.02s all ease-out;
  -webkit-transition: 0.02s all ease-out;
  -moz-transition: 0.02s all ease-out;
}

.project-button:hover {
  cursor: pointer;
}

.project-button:first-child {
  background: #4cb3bb;
  text-shadow: 0px 2px #3ca6af;
  box-shadow: inset 0px -4px 0px #1998a4;
}

.project-button:first-child:hover {
  text-shadow: 0px 0px #3ca6af;
  box-shadow: inset 0px -2px 0px #1998a4;
}

.project-button:first-child > a {
  letter-spacing: 3px;
  color: #fff;
}

.project-button:first-child > a:hover {
  color: #fff;
}

.project-button:last-child {
  margin-top: 10px;
  border: 1px solid #c7d7d7;
}

.project-button:last-child:hover {
  border: none;
  background: rgba(25, 152, 164, 0.61);
}

.project-button:last-child > a {
  color: #c7d7d7;
}

.project-button:last-child > a:hover {
  color: #fff;
}

.project-goals-row {
  background: #fff;
}

.impact-table-header {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 40px;
  background: rgba(142, 166, 179, 0.22);
  font-weight: 200;
  letter-spacing: 1px;
  color: rgba(142, 166, 179, 0.82);
  text-align: center;
}


.table-search {
  border: 1px solid #CCCCCC;
  font-size: 1.2rem;
  color: black;
  width: 15vw;
  float: right;
  margin-right: 50px;
}

@media (max-width: 600px) {
  .table-search {
      margin-right: 10px;
  }
}

.donations .btn-export {
  float: right;
  font-size: 1.4rem;
  padding: 4px 12px;
  border-radius: 0;
  margin-top: -5px;
  background-color: #1998a2;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  margin-right: 50px;
}

.donations-total-header {
  color: black;
  font-weight: 400;
  font-size: 2rem;
  display: inline-block;
  margin-left: 20%;
}

.donations-total-value {
  font-weight: 400;
  font-size: 2.8rem;
  text-align: right;
}

.donations table.impact-table {
  margin-top: 30px;
}

.donations table.impact-table td{
  width: auto;
  font-size: 12px;
  font-weight: 300;
}

.donations div.impact-table-header {
  margin-bottom: 20px;
}

.donations table.impact-table td:first-child{
  width: 5%
}

.goals-header {
  color: black;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  display: inline-block;
  margin-left: 15%;
  margin-bottom: 5px;
}

.project-title {
  color: black;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

.placeholder-for-empty-plot {
  text-align: center;
}

.project-goals-plot {
  margin-top: 50px;
}

.dashboard-content {
  margin: 80px 0;
  background: #f0f5f5;
}

@media (max-width: 600px) {
  .donations .btn-export {
      margin-right: 10px;
  }
}

.impact-table {
	tr {
		background: none;
		border-bottom: 1px solid $alice-tonal-light;

		td {
			color: inherit;
			text-align: left;
			padding-left: 15px !important;
			font-family: "Avenir";
			font-weight: 200;
			letter-spacing: 1px;
			padding: 15px 0;
		}
	}

	td:first-child {
		width: 15% !important;
	}

	tr:first-child {
		border-bottom: 1px solid $alice-tonal-medium;

		p {
			font-size: 14px;
			text-transform: uppercase;
		}
	}
}


@media screen and (max-width: 760px) {
  .impact-breakdown {
    height: 400px;
    padding: 20px 20px;
  }

  .impact-overall {
    font-size: 14px;
    color: #fff;
    height: 20px;
  }

  .impact-numbers {
    font-size: 38px;
  }

  .impact-titles {
    height: 180px;
    justify-content: center;
    align-items: center;
  }

  .impact-titles div {
    display: flex;
    /* justify-content: center;/ */
    align-items: center;
    height: 50px;
    width: 100%;
    text-align: left !important;
    font-size: 16px;
  }

  .impact-number-border {
    width: 15px;
    border-bottom: 1px solid #8ea6b3;
  }

  .live-projects-row {
    height: auto;
  }

  .live-project-lead > p {
    font-size: 18px !important;
  }

  .project-impact-numbers {
    font-size: 16px;
  }

  .project-impact-titles {
    letter-spacing: 0;
    font-size: 12px;
  }

  .project-goals-row {
    padding: 35px;
  }

  table.impact-table td {
      font-size: 12px;
  }
}

@media screen and (min-width: 760px) {

  table.impact-table {
    width: 100%;
  }

  table.impact-table td {
    font-size: 16px;
  }

  .impact-table tr {
    height: 25px;
  }

	.project-card {
		height: 540px;
	}
}


.dashboard-background {
	background: $alice-UI-light-grey;
	min-height: 100vh;
}

/* Charity Dashboard */

.c-dashboard__panel {
	margin: 25px 0 !important;
	border-radius: 0px !important;
	width: 100%;
	box-shadow: 0px 0px 5px rgba(179, 179, 179, 0.5);

	.panel-heading {
		color: $alice-dark;
		padding: 30px;
		@include transition(0.2s, all, ease-in-out);

		&:hover {
			cursor: pointer;
			box-shadow: 0px 0px 5px rgba(179, 179, 179, 0.7);
		}
	}

	.panel-title {
		width: 100%;

		a {
			font-size: 18px;
			color: $alice-dark-text !important;

			.glyphicon {
				float:right;
				margin-top: 10px;
			}
		}
	}

	.panel-body {
		padding: 32px;
	}
}

#goalsBreakdown {
	margin-top: 0;


	tr {
		background: none;

		td {
			color: inherit;
		}
	}

	td:first-child {
		width: 15%;
	}

	tr:first-child p {
		font-size: 14px;
		text-transform: uppercase;
	}
}

/* Vertical Progress Bar Directive */


.progress-bar {

	&__med {
		max-width: 280px;
		max-height: 8px;

		.inside {
			background-blend-mode: darken;
			background-color: inherit;
		}
	}

	&__sm {
		max-width: 140px;
	}
}

.progress-bar__med.progress {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.goal-progress-bar {
  &__desc {
		font-size: 12px !important;
	}

	&__percentage {
		width: 100%;
	}

	&__title {
		width: 100%;
		font-size: 20px;
		margin-top: 20px;
		letter-spacing: 1px !important;
	}
}


// Override pagination styling

.landing-page li {
	&:first-child a {
		width: auto;
	}
}

.pagination {
	li {
		a {
			border-radius: 25px;
			margin: 4px;
			color: $alice-tonal-medium;
			border-color: $alice-tonal-light;

			&:hover {
				background-color: $alice-tonal-medium;
				border-color: #fff;
				color: #fff;
			}
		}
	}

	.active {
		a {
			background-color: $alice-tonal-medium;
			border-color: #fff;

			&:hover {
				background-color: $alice-tonal-dark;
				cursor: auto;
			}
		}
	}
}
