
// /***** Donations App Homepage *****/

// /**** MULTI-DEVICE HOMEPAGE STYLING ****/

// /* STYLING ACROSS HOMEPAGES */

.splash {
  width: 100%;
  background-color: #353e42;
  background-blend-mode: multiply;
  height: 540px;
}

.splash-text {
  display: block;
  margin-left: 10%;
  color: #fff;
  transform: translateY(-250px);
}

.splash-text > .splash-title {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 3px;
}

.splash-text > .section-heading-border {
  width: 26%;
  border-bottom: 0.5px solid #fff;
}

.splash-text > .splash-subtitle {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}

.title {
  font-weight: 400;
  letter-spacing: 5px;
}

.subtitle {
  font-weight: 100;
  letter-spacing: 1px;
}

.section-text {
  display: block;
  margin-left: 7%;
}

.section-text > .section-heading-border {
  width: 26%;
  border-bottom: 1px solid #353e42;
  margin: 20px 0 40px 0;
}

.left {
  float: left;
}

.home-section > .right {
  float: right;
  text-align: right;
  margin-left: 0;
  margin-right: 5%;
}

.right > .section-heading-border {
  right: 0;
  float: right;
}

.links {
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
  padding-top: 20px;
}

.link {
  list-style: none !important;
  text-align: center;
}

.link > a {
  font-size: 16px;
  font-weight: 400 !important;
  letter-spacing: 2px;
  color: #1998a4;

  transition: 0.2s all ease-out;
  -webkit-transition: 0.2s all ease-out;
  -moz-transition: 0.2s all ease-out;
}

.link > a:hover {
  color: rgba(25, 152, 164, 0.64);
}


.dark-blue {
  background: #1998a4;
}

.blue {
  background: #46B3BC;
}


/** How It Works **/


.how-it-works > .splash {
  height: 100vh;
}

.how-it-works > .splash > #home-splash-logo {
  opacity: 0.02;
}

#hiw-splash-graph {
  width: auto;
  position: relative;
}

#transparent-image {
  position: sticky;
}

#transparent-image > img {
  position: sticky;
  z-index: 100;
}

#ethereum-image > img {
  height: 300px;
  position: sticky;
  transform: translate(-60px, -60px);
  width: auto;
  z-index: 100;
}

.track-wrapper {
  color: #fff;
  z-index: -1;
}

.track-wrapper > .section-text  {
  display: block;
  margin-left: 10%;
}

.track-wrapper > .section-text > .title {
  font-weight: 400;
  letter-spacing: 6px;
}

.track-wrapper > .section-text > .section-heading-border {
  width: 26%;
  border-bottom: 1px solid #fff;
  margin: 20px 0 40px 0;
}

.track-fundraise-logo {
  height: 200px;
  width: 220px;
  position: sticky;
  transform: translate(-650px, -40px);
  opacity: 0.1;
  left: -100px;
  bottom: 50px;
}

.wizard-screenshot {
  position: sticky;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.26);
}

.edge-wrapper > .section-text > .title {
  font-weight: 400;
  letter-spacing: 6px;
}

.edge-wrapper > .section-text > .section-heading-border {
  width: 26%;
}

.edge-wrapper .section-text > .subtitle {
  float: right;
}

#edge-screenshot {
  float: right;
  position: sticky;
}

#edge-screenshot > img {
  box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.26);
}

/** Geek Mode **/

#geek-splash-logo {
  height:450px;
  width: 500px;
  position: relative;
  transform: translate(-100px, 20px);
  opacity: 0.02;
  left: -100px;
  top: 40px;
  bottom: 50px;
}

.eth-wrapper > .section-text > .title {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #353E42;
}

.eth-wrapper > .section-text > .subtitle {
  font-size: 14px;
  font-weight: 100;
}

#donation-icon {
  width: auto;
  position: sticky;
}

.support-wrapper {
  padding: 80px 0;
  color: #fff;
  height: 520px;
}

.support-wrapper > .section-text  {
  display: block;
  margin-left: 10%;
}

.donate-ether {
  color: #fff;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}

.donate-ether > .section-heading-border {
  width: 46%;
  border-top: 1px solid #fff;
  margin: auto;
  padding-bottom: 5px;
}

.donate-ether > span {
  font-weight: 100;
}

.support-wrapper > .section-text > .title,
.eth-account-wrapper > .left > .title,
.etheroscope-wrapper > .left > .title,
.questions > .question > .title {
  font-size: 16px;
}

.support-wrapper > .section-text > .section-heading-border,
.eth-account-wrapper > .left > .section-heading-border,
.etheroscope-wrapper > .left > .section-heading-border,
.questions > .question > .section-heading-border {
  width: 26%;
  border-bottom: 1px solid #fff;
  margin: 20px 0 20px 0;
}

.support-wrapper .section-text > .subtitle {
  float: right;
  font-size: 14px;
}

.eth-account-wrapper > .left > .subtitle,
.etheroscope-wrapper > .left > .subtitle {
  float: left;
  font-size: 14px;
  width: 100%;
}


.find-more-wrapper > .title {
  text-align: center;
  font-weight: 100;
  color: #9BABAB;
}

.find-more-wrapper > .title > .section-heading-border {
  height: 10px;
  border-bottom: 0.5px solid #9BABAB;
  margin: 0 auto;
}

.subtitle > a {
  color: #fff;
  font-weight: 200;


  transition: 0.3s all ease-out;
  -webkit-transition: 0.3s all ease-out;
  -moz-transition: 0.3s all ease-out;
}

.eth-account-subtitle > a {
  color: #1998a4;
}

.subtitle > a:hover {
  cursor: pointer;
  color: #c3c3c3;
}


.etheroscope-wrapper {
  color: #fff;
}

.eth-account-wrapper > .left > .section-heading-border,
.questions > .question > .section-heading-border {
  border-color: #353e42;
}

// .question {
//   color: #353e42;
//   z-index: -1;
// }

// .questions > .question > .title {
//   text-transform: uppercase;
//   color: #1998a4;
//   letter-spacing: 3px;
// }

/*** Desktop ***/

@media screen and (min-width: 760px) {
  /**
	*
	*  Global scrollbar settings
	*
	**/

	::-webkit-scrollbar {
		width: 4px;
	}

	::-webkit-scrollbar-track {
		background: #fff;
		box-shadow: inset 0 0 3px grey;
	}

	::-webkit-scrollbar-thumb {
		background: rgba(#56a7ad, 0.8);
		transition: 0.2s all ease-in-out;
	}

	::-webkit-scrollbar-thumb:hover {
		background: rgba(25, 152, 162, 0.55);
		cursor: pointer !important;
	}



  /***** GLOBAL STYLING ACROSS HOMEPAGES ******/

  .splash-text {
    width: 40%;
  }

  .splash-text > .section-heading-border {
    margin: 20px 0 40px 0;
  }

  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 16px;
  }

  .section-text {
    width: 40%;
  }

  .section-text > .section-heading-border {
    width: 26%;
    border-bottom: 1px solid #353e42;
    margin: 20px 0 40px 0;
  }

  .left {
    float: left;
  }

  .home-section > .right {
    float: right;
    text-align: right;
    margin-left: 0;
    margin-right: 5%;
  }

  .right > .section-heading-border {
    right: 0;
    float: right;
  }

  .links {
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    padding-top: 20px;
  }

  .link {
    list-style: none !important;
    text-align: center;
  }

  .link > a {
    font-size: 16px;
    font-weight: 400 !important;
    letter-spacing: 2px;
    color: #1998a4;

    transition: 0.2s all ease-out;
    -webkit-transition: 0.2s all ease-out;
    -moz-transition: 0.2s all ease-out;
  }

  .link > a:hover {
    color: rgba(25, 152, 164, 0.64);
  }


  .dark-blue {
    background: #1998a4;
  }

  .blue {
    background: #46B3BC;
  }


  /** How It Works **/


  .how-it-works > .splash {
    height: 100vh;
  }

  #hiw-splash-graph {
    height: 270px;
    transform: translate(-10px, 20px);
    left: -100px;
    top: 40px;
    bottom: 50px;
  }

  .giving-wrapper {
    padding: 80px 0;
    height: 400px;
  }

  #transparent-image {
    position: sticky;
  }

  #transparent-image > img {
    height: 450px;
    position: sticky;
    transform: translateX(100px);
    width: auto;
    z-index: 100;
  }

  #ethereum-image > img {
    height: 300px;
    position: sticky;
    transform: translate(-60px, -60px);
    width: auto;
    z-index: 100;
  }

  .track-wrapper {
    padding: 80px 0;
    height: 700px;
  }

  .track-wrapper > .section-text  {
    width: 400px;
    transform: translateY(-60px);
  }

  .track-wrapper > .section-text > .title {
    font-size: 47px;
  }

  .track-wrapper > .section-text > .section-heading-border {
    width: 26%;
    border-bottom: 1px solid #fff;
    margin: 20px 0 40px 0;
  }

  .track-wrapper .section-text > .subtitle {
    float: right;
    font-size: 20px;
  }

  .track-fundraise-logo {
    height: 200px;
    width: 220px;
    position: sticky;
    transform: translate(-650px, -40px);
    opacity: 0.1;
    left: -100px;
    bottom: 50px;
  }

  .wizard-screenshot {
    height: 450px;
    width: auto;
    transform: translate(50px, 130px);
  }

  .edge-wrapper {
    padding: 80px 0;
  }

  .edge-wrapper > .section-text  {
    width: 400px;
  }

  .edge-wrapper > .section-text > .title {
    font-size: 47px;
  }

  .edge-wrapper > .section-text > .section-heading-border {
    margin: 60px 0 60px 0;
  }

  .edge-wrapper .section-text > .subtitle {
    font-size: 20px;
  }

  #edge-screenshot {
    margin-right: 150px;
  }

  #edge-screenshot > img {
    height: 450px;
    transform: translateX(-50px);
  }

  /** Geek Mode **/

  .eth-wrapper {
    padding: 80px 0;
    height: 350px;
  }

  .eth-wrapper > .section-text {
    width: 50%;
  }

  #donation-icon {
    height: 250px;
    transform: translate(100px, 30px);
  }

  .support-wrapper {
    padding: 80px 0;
    color: #fff;
    height: 520px;
  }

  .support-wrapper > .section-text  {
    transform: translateY(-120px);
  }

  .donate-ether {
    transform: translateY(-40px);
  }

  .find-more-wrapper {
    padding: 50px 0;
  }

  .find-more-wrapper > .title > .section-heading-border {
    width: 680px;
  }

  .link:first-child, .link:nth-child(2) {
    padding-top: 13px;
  }

  .subtitle > a {
    color: #fff;
    font-weight: 200;


    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
  }

  .eth-account-subtitle > a {
    color: #1998a4;
  }

  .subtitle > a:hover {
    cursor: pointer;
    color: #c3c3c3;
  }

  .etheroscope-wrapper, .eth-account-wrapper {
    padding: 80px 0 80px 80px;
  }

  .etheroscope-wrapper > .track-fundraise-logo {
    transform: translate(-985px, -40px);
  }

  .etheroscope-wrapper {
    width: 100%;
  }

  .eth-account-wrapper > .left > .section-heading-border,
  .questions > .question > .section-heading-border {
    border-color: #353e42;
  }

}
