/* For the new Donations Homepage
 *
 * Current homepage at: styles/homepage.css
 *
 */

 .home-container, .hiw-container {
   .row {
     margin: 20px 30px;
   }

   .header-image {
     .container {
       transform: translateY(30%);
     }
   }
 }



.home-project-card {
  min-height: 400px;
  height: auto;
  padding: 0 25px 10px 0;
  @include transition(0.2s, all, ease-out);

  &:hover {
    padding: 0 28px 10px 3px;
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    @include transition(0.2s, all, ease-out);
    border-radius: 4px;

    &.zoom-in {
      transform: scale(1.3);
    }
  }
}

.home-charity {
  height: 125px;

  &-container {
    margin-bottom: 20px;
  }

  &-picture {
      max-height: 125px;
      width: 100%;
      max-width: 100%;
      height: auto;
      vertical-align: middle;
  }
}

.home-container {
  section {
    border-bottom: 1px solid $alice-UI-light-grey;
  }
}

.hiw-container {
  &-text {
    transform: translateY(30%);
  }
}






@media screen and (max-width: 330px) {
  #hiw {
    &-create {
      .header-image {
        .container {
          h2, h4 {
            font-size: 20px;
          }

          h4 {
            line-height: 1.1;
          }
        }
      }
    }

    &-donate {
      margin-top: 30px;
      text-align: right;
    }

    &-validate {
      margin-top: 30px;
      margin-bottom: 15px;
      padding-bottom: 105px;
      border-bottom: 1px solid $alice-UI-light-grey;
    }
  }

  .svg {
    &-create {
      width: 323px;
      height: 182px;
      transform: translate(10px, 20px);
    }

    &-donate {
      width: 236px !important;
      height: 152px !important;
      transform: translate(-40px, 60px) !important;
    }

    &-validate {
      width: 300px;
      height: 134px;
      transform: translate(-30px, 80px);
    }
  }
}


@media screen and (max-width: 470px) {
  #hiw {
    &-create {
      .header-image {
        .container {
          transform: translateY(10%);
        }
      }
    }

    &-donate {
      margin-top: 10px;
      text-align: right;
    }

    &-validate {
      margin-top: 30px;
      margin-bottom: 15px;
      padding-bottom: 105px;
      border-bottom: 1px solid $alice-UI-light-grey;
    }
  }

  .svg {
    &-create {
      width: 323px;
      height: 182px;
      transform: translate(10px, 20px);
    }

    &-donate {
      width: 296px;
      height: 212px;
      transform: translate(-40px, 30px);
    }

    &-validate {
      width: 300px;
      height: 134px;
      transform: translate(-30px, 80px);
    }
  }
}

@media screen and (min-width: 760px) {
  // How it works:

  #hiw {
    &-donate {
      margin-top: 10px;
    }

    &-validate {
      margin-top: 30px;
      margin-bottom: 15px;
      padding-bottom: 25px;
      border-bottom: 1px solid $alice-UI-light-grey;
    }
  }
  .svg {
    &-create {
      width: 463px;
      height: 370px;
      transform: translateY(70px);
    }

    &-donate {
      width: 426px;
      height: 372px;
      transform: translateY(50px);
    }

    &-validate {
      width: 500px;
      height: 294px;
    }
  }
}
