.my-impact {
  background: $dashboard-background;
  min-height: 100vh;

  &__container {
    width: 75vw;
    margin: auto;

    &-greeting {
      margin: 0 23px;
    }

    &-goals {
      background: $white;
      margin: 50px 0;
      @include box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.1));
      padding: 35px 30px;
    }

    &-goal {
      display: inline-flex;
      height: 200px;
      margin: 20px 0 30px;
      padding: 0;
    }
  }

  &__overview {
    margin-top: 50px;
    padding: 0;

    div {
      p {
        height: 30px;
        margin: 0;
      }

      h3 {
        margin: 0;;
      }

      &:nth-child(2) , &:last-child {
        display: inline-block;

        h3 {
          width: auto;
          margin-right: 8px;
          float: left;
        }

        p:last-child {
          margin: 12px 0 0;
        }
      }
    }
  }

  &__goal {
    height: 100%;
    width: 80%;

    &-image {
      width: 200px;
      height: 200px;
      background-position: center;
      background-size: cover;
      border-radius: 2px;
      margin-right: 25px;
      @include box-shadow(0, 0, 3px, rgba(0, 0, 0, 0.3));
    }

    &-top {
      display: inline-flex;
      width: 100%;

      &left {
        float: left;
        width: 50%;
        border-right: 2px solid $alice-UI-light-grey;
        margin-right: 9%;

        p:first-child {
          font-size: 20px !important;
        }
      }

      &right {
        padding: 0 !important;
        width: 40%;
        height: 100px;
        float: right;

        div {
          margin-top: -20px;
        }
      }
    }

    &-bottom {
      margin-top: 20px;

      .goal-progress-bar__percentage {
        width: 100%;
        color: $alice-blue;
        font-size: 20px;
      }
    }
  }

}
