version: 2.1

executors:
  node-executor:
    docker:
      - image: circleci/node:10.15.3-stretch
    working_directory: /tmp

jobs:
  build:
    executor: node-executor
    steps:
      - checkout
      - run:
          # See https://circleci.com/docs/2.0/caching/
          name: collect-lock-files
          command: find . -name package-lock.json | xargs sha256sum >.circleci.depcache
      - restore_cache:
          key: npm-v1-{{ checksum ".circleci.depcache" }}
      - run:
          name: install
          command: npm install
      - run:
          name: lerna-bootstrap
          command: npx lerna bootstrap
      - save_cache:
          key: npm-v1-{{ checksum ".circleci.depcache" }}
          paths:
            - ./node_modules
            - ./packages/contracts/node_modules
            - ./packages/demo-app/node_modules
      - persist_to_workspace:
          root: .
          paths:
            '*'
  test:
    executor: node-executor
    steps:
      - attach_workspace:
          at: .
      - run:
          name: test
          command: npx lerna run test
  docker-build:
    docker:
      - image: circleci/node:10.15.3-stretch
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - attach_workspace:
          at: .
      - run:
          name: Build alice-demo-app image
          command: |
            TAG=gcr.io/donations-218312/alice-demo-app
            docker build -t $TAG -f packages/demo-app/Dockerfile .
            docker save -o alice-demo-app.tar $TAG
      - store_artifacts:
          path: alice-demo-app.tar

workflows:
  version: 2
  main:
    jobs:
      - build
      - test:
          requires:
            - build
      - docker-build:
          requires:
            - build
