/*
 *
 * This file contains the following, in order:
 *
 *
 *
 */

// The Primary Colours we use

// Our main colour
$alice-blue: #1998A2;
// Our main dark-colour (Used for backgrounds)
$alice-dark: #202E37;
// Our main dark-colour (Used for text)
$alice-dark-text: #184E6D;
// Our main grey-colour (Text)
$alice-grey: #BBCED9;
// White
$white: #fff !important;


// Secondary Colours
$alice-UI-dark-grey: #E3ECF0;
$alice-UI-light-grey: #F0F5F5;
$alice-UI-dark: #114462;
$alice-UI-light: #D8F1F3;


// Accent Colours
$alice-yellow: #FFCA54;
$alice-orange: #FF7169;
$alice-pink: #FF5AD1;
$alice-purple: #9355DE;
$alice-azure: #63ABFF;

// Tonal colours
$alice-tonal-dark: #097A82;
$alice-tonal-medium: #1CB8C4;
$alice-tonal-light: #38D2DA;

// Main navigation height
$menu-height: 80px;
