/*
 *
 * This file contains the following, in order:
 *
 *
 *
 */

// The Primary Colours we use

// Our main colour
// May be moving to: #1CB8C4;

$alice-blue: #1998A2;
.alice-blue {
  color: $alice-blue !important;
}

// Our main dark-colour (Used for backgrounds)
$alice-dark: #202E37;
.alice-dark {
  color: $alice-dark !important;
}

// Our main dark-colour (Used for text)
$alice-dark-text: #484848;
.alice-dark-text {
  color: $alice-dark-text !important;
}

// Our main grey-colour (Text)
$alice-grey: #CCC;
.alice-grey {
  color: $alice-grey !important;
}

$alice-dark-grey: #4a4a4a;
.alice-dark-grey {
  color: $alice-dark-grey !important;
}

// White
$white: #fff !important;
.white {
	color: $white;
}

// Dashboard UI background colour
$dashboard-background: #F0F5F5;


// Secondary Colours
$alice-UI-dark-grey: #E3ECF0;
$alice-UI-light-grey: #F0F5F5;
$alice-UI-dark: #114462;
$alice-UI-light: #D8F1F3;


// Accent Colours
$alice-yellow: #FFCA54;
$alice-orange: #FF7169;
$alice-pink: #FF5AD1;
$alice-purple: #9355DE;
$alice-azure: #63ABFF;

// Tonal colours
$alice-tonal-dark: #097A82;

.alice-tonal-medium {
	color: #1CB8C4 !important;
}
$alice-tonal-medium: #1CB8C4;
$alice-tonal-light: #38D2DA;

// Main navigation height
$menu-height: 80px;


// New font
$source: 'Source Sans Pro', sans-serif;
