/* Global Styling */


/* Header Styling */

/* Mobile */





/* Desktop */

h3 {
  font-size: 24px;
  font-family: Avenir;
  font-weight: 400;
  color: #1998A2;
  letter-spacing: 0;
  line-height: 43.5px;
}
