.modal-title {
  text-align: center;
}

.amount-selector.circle-icon {
  cursor: pointer;
  width: 60px;
}

.amount-selector.circle-icon:hover {
  opacity: 0.8;
}

.amount-selector.amount-input {
  border: none;
  border-bottom: solid #CCC;
  font-size: 3rem; 
  width: 100px;
}

.amount-selector {
  text-align: center;
  margin: auto;
}

.amount-title {
  font-size: 2rem;
}
