@media screen and (min-width: 10px) and (max-width: 330px) {
	#my-impact-container .project-card {
		height: 240px !important;
	}

	#my-impact-container .project-card-text {
		height: 180px !important;
		padding: 0 60px 40px 0 !important;
	}

	.project-card-titles h1 {
		font-size: 7px !important;
	}

	.project-card-numbers h2 {
		margin-left: -10px !important;
		font-size: 12px !important;
	}
}

@media screen and (max-width: 760px) {
	/*
	*  This is where we
	*  currently put the impact page
	*  stylings.
	*/

	.live-projects {
		padding: 0 20px;
		background: #f5f5f5;
	}

	#my-impact-container .dashboard-nav-top {
		position: relative;
		height: 60px;
		margin-left: 0;
		margin-bottom: 60px;
	}

	#my-impact-container .my-impact-nav {
		height: auto;
		border: 1px solid blue;
	}

	#my-impact-container .project-card {
		height: 600px;
	}

	/* What is needed */
	#my-impact-container .dashboard-nav-top .dashboard-title {
		font-size: 20px;
		margin-top: -30px;
		margin-left: 15px;
		font-weight: 300;
	}

	#my-impact-container .project-card-title {
		height: 150px;
		font-size: 16px;
		padding-top: 20px;
		line-height: 30px;
	}

	#my-impact-container .project-card-title .square-button {
		margin-left: 15px;
	}

	#my-impact-container .my-impact-tabs {
		list-style: none;
		margin-top: 24px;
		height: auto;
	}

	.project-card-labels {
		height: 100px;
	}


	.project-card-numbers .rect, .project-card-text .rect {
		background: #BBCED9;
		width: 8px;
		height: 3px;
	}

	.project-card-titles h1 {
		font-family: Helvetica;
		color: #BBCED9;
		text-transform: uppercase;
		font-size: 9px;
		margin-left: -10px;
	}

	.project-card-numbers h2 {
		margin: 30px 0 -10px -10px;
  	font-family: "Avenir";
  	font-size: 16px;
  	color: #1998A2;
  	letter-spacing: 0;
	}

	#my-impact-container {
		background: #F0F5F5;
	}

	#my-impacts-collapse {
		display: none;
	}

	#my-impacts-drop {
		display: block;
	}

	#my-impact-container .dropdown-menu {
		background: rgba(244, 244, 244, 0.9);
	}

	#my-impact-container .my-impact-tab-active,	#my-impact-container .my-impact-tab {
		height: 30px;
		color: #fff;
		font-weight: 200;
		display: flex;
		vertical-align: middle;
		letter-spacing: 1px;
		font-size: 14px;
		color: #184E6D;
		line-height: 28px;
	}

	.project-card-donations {
		padding: 10px;
	}

	// Overwrite doughnut size within
	// container
	.project-card-donations canvas {
		padding: 10px !important;
		width: 350px !important;
		height: 180px !important;
	}
	/* end */

	#my-impact-container .my-impact-tab {
		border-bottom: 1px solid rgba(155, 171, 171, 0.39);
		transition: 0.15s all ease-in-out;
		-webkit-transition: 0.15s all ease-in-out;
		-moz-transition: 0.15s all ease-in-out;
	}

	#my-impact-container .my-impact-tab:last-child {
		border-bottom: none;
	}

	.live-projects-container {
		border-radius: 5px;
	}

	.live-projects-row {
		height: 180px;
	}

	.live-project-section {
		height: 100%;
		padding-top: 30px;
	}

	.live-projects-container .project-card-main {
		height: 350px;
	}

	#my-impact-container .project-card-text {
		height: 160px;
		padding: 0 60px 20px 0;
	}

	.project-card-active {
		opacity: 0;
	}

	.project-card-default {
		opacity: 1;
	}

	.project-card-text h2 {
		font-family: 'Avenir';
		font-size: 14px;
		color: #184E6D;
		letter-spacing: 0;
		line-height: 20px;
	}

	.project-card-text h3 {
		font-family: 'Avenir';
		font-size: 12px;
		color: #BBCED9;
		line-height: 16px;
	}

	.project-card-numbers .rect {
		margin: 4px 0 0;
		background: #1CB8C4;
	}


}

@media screen and (min-width: 760px) {

	/*
	*  This is where we
	*  currently put the impact page
	*  stylings.
	*/

	#my-impact-container .dashboard-nav-top {
		position: relative;
		height: 60px;
		margin-left: 0;
		margin-bottom: 30px;
	}

	#my-impact-container .dashboard-nav-top .dashboard-title {
		font-size: 20px;
		margin-top: -22px;
		margin-left: 35px;
		font-weight: 300;
	}

	#my-impact-container .my-impact-nav {
		height: auto;
		border: 1px solid blue;
	}

	#my-impact-container .project-card {
		height: 600px;
	}

	#my-impact-container {
		background: #F0F5F5;
	}

	#my-impacts-collapse {
		display: none;
	}

	#my-impacts-drop {
		display: block;
	}

	#my-impact-container .my-impact-tabs {
		list-style: none;
		margin-top: 15px;
		height: auto;
	}

	#my-impact-container .dropdown-menu {
		background: rgba(244, 244, 244, 0.9);
	}

	#my-impact-container .my-impact-tab-active,	#my-impact-container .my-impact-tab {
		height: 30px;
		color: #fff;
		font-weight: 200;
		display: flex;
		vertical-align: middle;
		letter-spacing: 1px;
		font-size: 14px;
		color: #184E6D;
		line-height: 28px;
	}

	#my-impact-container .my-impact-tab {
		border-bottom: 1px solid rgba(155, 171, 171, 0.39);
		transition: 0.15s all ease-in-out;
		-webkit-transition: 0.15s all ease-in-out;
		-moz-transition: 0.15s all ease-in-out;
	}

	#my-impact-container .my-impact-tab:last-child {
		border-bottom: none;
	}

	#my-impact-container .my-impact-tab-active:hover, #my-impact-container .my-impact-tab:hover {
		cursor: pointer;
	}

	#my-impact-container .my-impact-tab:before {
	  content: "";
	  position: absolute;
	  z-index: -1;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: rgba(25, 152, 162, 0.2);
	  -webkit-transform: scaleX(0);
	  transform: scaleX(0);
	  -webkit-transform-origin: 0 50%;
	  transform-origin: 0 50%;
	  -webkit-transition-property: transform;
	  transition-property: transform;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;
	}

	#my-impact-container .my-impact-tab:hover:before {
	  -webkit-transform: scaleX(1);
	  transform: scaleX(1);
	}

	/*
	*  This is where we
	*  currently put the impact card
	*  stylings.
	*/

	.live-projects {
		padding: 0 50px;
		background: #f5f5f5;
	}

	.live-projects-container {
		border-radius: 5px;
	}

	.live-projects-row {
		height: 180px;
	}

	.live-project-section {
		height: 100%;
		padding-top: 30px;
	}

	.project-card-labels {
		height: 120px;
	}

	.project-card-numbers h2 {
		margin: 30px 0 -10px;
  	letter-spacing: 2px;
  	font-family: "Avenir";
  	font-size: 30px;
  	color: #1998A2;
	}


	.project-card-titles h1 {
		font-family: Helvetica;
		color: #BBCED9;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-size: 12px;
	}

	// Overwrite doughnut size within
	// container
	.project-card-donations canvas {
		padding-top: 50px;
  	width: 390px !important;
  	height: 230px !important;
	}

	.live-projects-container .project-card-main {
		height: 350px;
	}

	.project-card-text {
		height: 100%;
		padding: 50px 60px 0 0;
	}

	.project-card-active {
		opacity: 0;
	}

	.project-card-default {
		opacity: 1;
	}

	.project-card-text h2 {
		font-family: 'Avenir';
		font-size: 30px;
		color: #184E6D;
		letter-spacing: 0;
		line-height: 49px;
	}

	.project-card-text h3 {
		font-family: 'Avenir';
		font-size: 18px;
		color: #BBCED9;
		letter-spacing: -0.25px;
		line-height: 36px;
	}

	.project-card-numbers .rect, .project-card-text .rect {
		background: #BBCED9;
		width: 18px;
		height: 5px;
	}

	.project-card-numbers .rect {
		margin: 4px 0;
		background: #1CB8C4;
	}


}
