/* Styles for validator dashboard. */

/* TODO move this to some common location. */
.goals-dash__tabset {
  margin-top: 20px;
}

.goals-dash__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
}

.goals-dash__grid-elem {
  grid-column: span 12;
}

@media only screen and (min-width: 768px) {
  .goals-dash__grid-elem {
    grid-column: span 6;
  }
}

@media only screen and (min-width: 1200px) {
  .goals-dash__grid-elem {
    grid-column: span 4;
  }
}

.goal-card--in-progress {
  opacity: 0.7;
}

img.goal-card__image {
  height: 150px;
}

#spinner {
  height: 50px;
}